body {
	background : url(images/background.gif);
	color : #FFFFFF;
	font-size : 10pt;
	font-family : Verdana, Helectiva, Arial, Sans-Serif;
}

td {
	font-size : 10pt;
}

a:link, a:visited {
	color : #FFFF00;
	text-decoration : none;
}

a:hover, a:active {
	color : #00FF00;
	text-decoration : none;
}

form {
	display: inline;
}

.onclick {
	color : #FFFF00;
}

.header {
	border: 0px;
	padding: 0px;
	background : #000058;
	width: 100%;
}

.menu {
	border: 1px solid #36368E;
	border-bottom: 2px solid #36368E;
	background : #161B80;
	width: 100%;
}

.menutitle {
	background-color: #000059;
	border: 0px solid #36368E;
	text-align: left;
	font-weight: bold;
	padding: 4px;
}

.menusection {
	background-color: #2236AC;
	border-left: 0px solid #36368E;
	border-right: 0px solid #36368E;
	text-align: left;
	padding: 4px;
	padding-right: 2px;
	margin-left: 4px;
}

.menuitem {
	padding: 1px;
}

.title {
	font-weight : bold;
	color : pink;
}

.sidebarheader {
	color : #FFFFFF;
	font-weight : bold;
	text-align : left;
}

.sidetextbox {
	border : 1px solid black;
	background-color : #5060A9;
	color: white;
}

.sidebutton {
	border : 1px solid black;
	color: white;
	background-color : #5060A9;
}

.login {
}

.hilight {
	font-weight: bold;
}

.highlight {
	color: #7bb2ff;
}

.queued {
	color: orange;
}

.textbox {
	border : 1px solid #000059;
	background : #5060A9;
	color : white;
	padding: 2px;
}

.button {
	border : 1px solid black;
	background : #5060A9;
	color : white;
	padding: 1px;
}

.selectbox {
	color: white;
	background: #5060A9;
}

.checkbox {
}

.radiobutton {
}

.subtext {
	font-size: 8pt;
}

.header_region {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.boxpageheader {
	background-color: black;
	color : #F8F820;
	font-size : 20pt;
	font-weight: bold;
	vertical-align: middle;
}

.boxheader {
	color : white;
	font-size : 20pt;
	font-weight: bold;
}







.canvas_left {
	width: 124px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-right:0px;
}

.canvas_center {
	width: 95%;
	text-align: left;
	margin-left: auto;
	margin-right: 1%;
}

.canvas_right {
}


.newsform {
	text-align: left;
	border: 1px solid gray;
	width: 90%;
}

.newsstrip {
	background-color: #000070;
	text-align: left;
	font-weight: bold;
    	padding: 4px;
}

.newssubstrip {
	background-color: #000090;
	text-align: left;
	padding: 4px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.newsleftw {
	padding: 3px;
	background-color: #000090;
}

.topstrip {
	 border-top:1px solid #000090;
}

.sform {
	text-align: left;
	border: 1px solid gray;
	width: auto;
	background-color: #2236AC;
}

.sformtable {
	text-align: left;
	border: 0px;
	width: 100%;
}

.sformtablex {
	width: 100%;
}
.sformblock {
	text-align: left;
	padding: 4px;
}

.sformstrip {
	background-color: #000070;
	text-align: left;
	font-weight: bold;
    	padding: 4px;
}

.sformsubstrip {
	background-color: #000090;
	text-align: left;
	padding: 4px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.sformleft {
	background-color: #000090;
	width: 35%;
	padding: 3px;
}

.sformright {
	width: 65%;
	padding: 3px;
}

.sformleftw {
	background-color: #000090;
	padding: 3px;
}

.sformfree {
	padding: 2px;
}

.sformtitle {
	background-color: #000070;
	font-weight: bold;
	padding: 5px;
}

.sformdark {
	background-color: #000059;
}

.message {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #333344;
	background-color: #6668A8;
	padding: 5px;
	width: 90%;
}

.search_hl {
	color: red;
	background-color: yellow;
	font-weight: bold;
}

.quotetitle {
	width: 90%;
	padding: 4px;
	padding-left: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	font-size: 8pt;
	font-weight: bold;
}

.quote {
	width: 90%;
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	border: 1px solid #000059;
	background-color: #5060A9;
}

.adminwrap {
	color : #FFB93F;
}

.adminwrap:link, .adminwrap:visited {
	color : #FFB93F;
	text-decoration : none;
}

.adminwrap:hover, .adminwrap:active {
	color : yellow;
	text-decoration : none;
}