          <form method='post' action='{{login_url}}'>
          <table border='0' cellpadding='2' cellspacing='0' width='130' class='login'>
            <tr>
              <td width='100%' class='sidebarheader'>
                Login
              </td>
            </tr>
            <tr>
              <td width='100%' align='center'>
                <input type='text' name='username' value='username' alt='username' size='14' class='sidetextbox' />
              </td>
            </tr>
            <tr>
              <td width='100%' align='center'>
                <input type='password' name='password' value='' alt='password' size='14' class='sidetextbox' />
              </td>
            </tr>
            <tr>
              <td width='100%'>
                <input type='submit' name='submit' value='Login' class='sidebutton' />
              </td>
            </tr>
            <tr>
              <td width='100%' class='sidebarheader'>
                <br />
                Not Registered?
              </td>
            </tr>
            <tr>
              <td width='100%' align='center'>
                <a href='{{register_url}}'><img src='{{image_path}}/signup.gif' alt='Sign Up' border='0' /></a>
              </td>
            </tr>
          </table>
          </form>