          <br />
          <table border='0' cellpadding='2' cellspacing='0' width='130'>
            <tr>
              <td width='100%' class='sidebarheader'>
                Logged In
              </td>
            </tr>
            <tr>
              <td width='100%'>
                <b>{{username}}</b>
              </td>
            </tr>
            <tr>
              <td width='100%'>
                <img src='{{image_path}}/empty.gif' alt='>' /> <a href='{{prefs_url}}'>Preferences</a><br />
                <img src='{{image_path}}/empty.gif' alt='>' /> <a href='{{messenger_url}}'>Messenger</a><br />
		            <img src='{{image_path}}/empty.gif' alt='>' /> <a href='{{manager_url}}'>My Submissions</a><br />
		            <img src='{{image_path}}/empty.gif' alt='>' /> <a href='{{submit_url}}'>Submit File</a><br />
		            <img src='{{image_path}}/empty.gif' alt='>' /> <a href='{{register_url}}'>Log Out</a>
              </td>
            </tr>
          </table>
          <br />