<tr>
  <td class='tablecell3' width='100' align='center'>
    <a id='{{id}}' />
      <a href="{{file_url}}">{{thumbnail}}</a>
  </td>
  <td class='tablecell3' align='left' height='100'>
    <table border='0' cellpadding='2' cellspacing='0' width='100%' style='height: 100%'>
      <tr>
        <td height='25' width='60%' bgcolor='#333344'>
          <a href="{{file_url}}"><b>{{title}}</b></a>
        </td>
        <td height='25' width='25%' bgcolor='#555566'>
	      By: <b>{{author}}</b>
        </td>
        <td height='25' width='15%' align='right' bgcolor='#555566'>
          {{email_icon}} {{website_icon}}
        </td>
      </tr>
      <tr>
        <td valign='top' width='100%' height='50' colspan='3'>
           {{description}}
        </td>
      </tr>
      <tr>
        <td valign='bottom' height='25'>
          Downloads: <b>{{downloads}}</b>
        </td>
        <td valign='bottom' width='100%' colspan='2'>
          <table border='0' cellspacing='0' cellpadding='0' width='100%'>
            <tr>
              <td width='50%' style='font-size:8pt'>
                Added: {{created}}
              </td>
              <td width='50%' style='font-size:8pt'>
                {{updated}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>