		        <tr>
              <td height='25' width='65%' bgcolor='#333344'>
                <b class='highlight'>{{author}}</b>
              </td>
              <td height='25' bgcolor='#333344'>
      	        <b>{{date}}</b>
              </td>
              <td height='25' bgcolor='#333344' align='right'>
                {{email_icon}} {{website_icon}} {{report_icon}}
              </td>
            </tr>
            <tr>
              <td valign='top' height='50' width='100%' colspan='3'>
                 {{message}}
              </td>
            </tr>
            <tr>
              <td height='6' colspan='3' bgcolor='#444466' style='border-bottom:1px solid #888888'>
              </td>
            </tr>