		<div id='{{id_name}}' style='display:none'>
		<table border='0' width='100%'>
	    <tr>
	      <td width='30%' class='tablecell1'>
	        Designed For
	      </td>
	      <td width='70%' class='tablecell2'>
	        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
	          <tr>
	            <td width='50%'>
  		          <input type='checkbox' name='{{req_tag}}[tag][]' value='HT_TGF' /> TGF / CNC<br />
      				  <input type='checkbox' name='{{req_tag}}[tag][]' value='HT_MMF' /> Multimedia Fusion
      				</td>
      				<td width='50%'>
      				  <input type='checkbox' name='{{req_tag}}[tag][]' value='HT_GM' /> Game Maker<br />
      				  <input type='checkbox' name='{{req_tag}}[tag][]' value='HT_OTHER' /> Other
      				</td>
    			  </tr>
    			</table>
	      </td>
	    </tr>
	    <tr>
	      <td width='30%' class='tablecell1'>
	        File
	      </td>
	      <td width='70%' class='tablecell2'>
	        <input type='file' name='{{req_tag}}[file]' class='textbox' size='40' />
	      </td>
	    </tr>
	    <tr>
	      <td width='30%' class='tablecell1'>
	        Title
	      </td>
	      <td width='70%' class='tablecell2'>
	        <input type='text' name='{{req_tag}}[title]' class='textbox' size='40' />
	      </td>
	    </tr>
	    <tr>
	      <td width='30%' class='tablecell1'>
	        Description
	      </td>
	      <td width='70%' class='tablecell2'>
	        <textarea name='{{req_tag}}[description]' rows='6' cols='30' class='textbox'></textarea>
	      </td>
	    </tr>
	   </table>
	   </div>