		<div id='{{id_name}}' style='display:none'>
		<table border='0' width='100%'>
	    <tr>
	      <td width='30%' class='tablecell1'>
	        Category
	      </td>
	      <td width='70%' class='tablecell2'>
	        <select name='cat1' class='selectbox' size='1'>
	          <option value=''>---</option>
	          <option value='SPRITESHEET'>Sprite Sheet</option>
	          <option value='TILESET'>Tileset</option>
	          <option value='KLIK_LIB'>Klik Lib</option>
	        </select>
	      </td>
	    </tr>
	    <tr>
		  <td width='30%' class='tablecell1'>
		    Type
		  </td>
		  <td width='70%' class='tablecell2'>
		    <select name='cat2' class='selectbox' size='1'>
			<option value=''>---</option>
		      <option value='RIPPED'>Ripped</option>
		      <option value='EDITED'>Edited</option>
		      <option value='ORIGINAL'>Original</option>
		    </select>
		  </td>
		</tr>
	    <tr>
	      <td width='30%' class='tablecell1'>
	        File
	      </td>

	      <td width='70%' class='tablecell2'>
	        <input type='file' name='file' class='textbox' size='40' />
	      </td>
	    </tr>
	    <tr>
	      <td width='30%' class='tablecell1'>
	        Thumbnail (Optional)
	      </td>
	      <td width='70%' class='tablecell2'>

	        <input type='file' name='thumbnail' class='textbox' size='40' />
	      </td>
	    </tr>
	    <tr>
	      <td width='30%' class='tablecell1'>
	        Title
	      </td>
	      <td width='70%' class='tablecell2'>
	        <input type='text' name='title' class='textbox' size='40' />

	      </td>
	    </tr>
	    <tr>
	      <td width='30%' class='tablecell1'>
	        Description
	      </td>
	      <td width='70%' class='tablecell2'>
	        <textarea name='description' rows='6' cols='30' class='textbox'></textarea>
	      </td>
	    </tr>
	    <tr>
	      <td width='30%' class='tablecell1'>
	        Keyword Tags
	      </td>
	      <td width='70%' class='tablecell2'>
	        <textarea name='misc_tags' id='tagbox_{{cid}}' rows='2' cols='30' class='textbox'></textarea>
	        <br /><a href="javascript:show_hide('a{{cid}}');show_hide('b{{cid}}');">Show / Hide All Tags</a>
	      </td>
	    </tr>
	    <tr id='menu_a{{cid}}' style='display:none'>
  		  <td class='title_fixed'>
  		    &nbsp;
  		  </td>
  		  <td class='field_fixed'>
  		    &nbsp;
  		  </td>
  		</tr>
  		<tr id='menu_b{{cid}}' style='display:none'>
  		  <td class='title_fixed' style='border-top: 1px solid gray; border-bottom: 1px solid gray;'>
  		    Tag Keyword List
  		  </td>
  		  <td class='field_fixed' style='border-top: 1px solid gray; border-bottom: 1px solid gray;'>
  		    {{all_tags}}
  		  </td>
  		</tr>
	   </table>
	   </div>