	<div align='center'>
	  <span class='title'>
	    User Page
	  </span>
	  <br />
	  
	</div>
	<br />
	<div align='center'>
	  <table border='0' width='90%'>
	    <tr>
	      <td class='tablecell1' colspan='2'>
	        <span class='boxheader'>{{username}}</span>
	      </td>
	    </tr>
    </table>
    <table class='tableheader'>
	    <tr>
	      <td width='50%'>&nbsp;</td>
	      <td width='50%'>&nbsp;</td>
	    </tr>
	    <tr>
	      <td valign='top' align='center'>
	        <table border='0' cellspacing='1' cellpadding='2' width='90%'>
	          <tr>
	            <td colspan='2' style='background-color:#333344' height='25' align='center'>
	              <span class='highlight'><b>Contact</b></span>
	            </td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>PM</td>
	            <td class='field_fixed' style='background-color:#444466'>[Send Message]</td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>Email</td>
	            <td class='field_fixed' style='background-color:#444466'>{{email}}</td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>AIM Name</td>
	            <td class='field_fixed' style='background-color:#444466'>{{aim}}</td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>ICQ ID</td>
	            <td class='field_fixed' style='background-color:#444466'>{{icq}}</td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>MSN ID</td>
	            <td class='field_fixed' style='background-color:#444466'>{{msn}}</td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>Yahoo Name</td>
	            <td class='field_fixed' style='background-color:#444466'>{{yim}}</td>
	          </tr>
	        </table>
	        &nbsp;
	      </td>
	      <td valign='top' align='center'>
	        <table border='0' cellspacing='1' cellpadding='2' width='90%'>
	          <tr>
	            <td colspan='2' style='background-color:#333344' height='25' align='center'>
	              <span class='highlight'><b>Profile</b></span>
	            </td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>Member ID</td>
	            <td class='field_fixed' style='background-color:#444466'><b>{{member_id}}</b></td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>Join Date</td>
	            <td class='field_fixed' style='background-color:#444466'>{{join_date}}</td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>Website</td>
	            <td class='field_fixed' style='background-color:#444466'>{{website}}</td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>Submissions</td>
	            <td class='field_fixed' style='background-color:#444466'><b>{{submissions}}</b></td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>Reviews</td>
	            <td class='field_fixed' style='background-color:#444466'><b>{{reviews}}</b></td>
	          </tr>
	          <tr>
	            <td class='title_fixed' style='background-color:#444466'>Comments</td>
	            <td class='field_fixed' style='background-color:#444466'><b>{{comments}}</b></td>
	          </tr>
	        </table>
	        &nbsp;
	      </td>
	    </tr>
	  </table>
	</div>