Staff messages and submissions reported by users will be displayed here.  After reviewing and handling a message, it should be closed, where it will be archived for review by other staff members.
<br />
<br />
<div align='center' id='menu1'>
  <table border='0' cellspacing='0' cellpadding='1' width='90%' style='border-bottom:1px solid #5D669A'>
		<tr>
		  <td width='100%' colspan='5' class='subheader'>
		    Open Message Pool
		  </td>
		</tr>
		<tr>
		  <td width='4%' class='title'>
		    &nbsp;
		  </td>
		  <td width='65%' class='title'>
		    Message
		  </td>
		  <td width='21%' class='title'>
		    Sender
		  </td>
		  <td width='10%' class='title'>
		    Date
		  </td>
		</tr>
		{{msg_list}}
		
	</table>
	Pages: {{msg_pages}}
</div>
<br />
<div align='center' id='menu2'>
  <table border='0' cellspacing='0' cellpadding='1' width='90%' style='border-bottom:1px solid #5D669A'>
		<tr>
		  <td width='100%' colspan='5' class='subheader'>
		    Closed Message Pool
		  </td>
		</tr>
		<tr>
		  <td width='4%' class='title'>
		    &nbsp;
		  </td>
		  <td width='65%' class='title'>
		    Message
		  </td>
		  <td width='21%' class='title'>
		    Sender
		  </td>
		  <td width='10%' class='title'>
		    Date
		  </td>
		</tr>
		{{closed_list}}
		
	</table>
	Pages: {{msg_pages}}
</div>
<br />