Select a root type for the new submission
<br /><br />
<div align='center'>
  <form method='post' action='{{form_url}}'>
  <input type='hidden' name='security_token' value='{{security_token}}' />
  <table border='0' cellspacing='0' cellpadding='1' width='90%'>
    <tr>
      <td class='title_fixed'>
        Root Type
      </td>
      <td class='field_fixed'>
        {{type}}
      </td>
    </tr>
    <tr>
      <td class='title_fixed'>
        Continue
      </td>
      <td class='field_fixed'>
        <input type='submit' value='Create Submission' class='button' />
      </td>
    </tr>
  </table>
  </form>
</div>