Write a new news entry here.  
<form method='post' action='{{root_url}}act=news&amp;param=02'>
<input type='hidden' name='security_token' value='{{security_token}}' />
<div align='center'>
<br />
	<table border='0' cellspacing='0' cellpadding='1' width='90%'>
	  <tr>
 		  <td width='30%' class='title'>
 		    Title
 		  </td>
 		  <td width='70%' class='field'>
 		    <input type="text" name="title" size="40" class="textbox" />
 		  </td>
 		</tr>
 		<tr>
 		  <td width='30%' class='title'>
 		    Content
 		  </td>
 		  <td width='70%' class='field'>
 		    <textarea name="content" rows="8" cols="40" class="textbox"></textarea>
 		  </td>
 		</tr>
 		<tr>
 		  <td width='30%' class='title'>
 		    &nbsp;
 		  </td>
 		  <td width='70%' class='field'>
 		    &nbsp;
 		  </td>
 		</tr>
 		<tr>
 		  <td width='30%' class='title'>
 		    Complete Form
 		  </td>
 		  <td width='70%' class='field'>
 		    <input type="submit" value="Add Entry" class="button" />
 		  </td>
 		</tr>
 	</table>
</div>
</form>