Select a user to modify
<br />
<br />
<div align='center'>
<a href='{{root_url}}act=ucp&amp;param=01&amp;l=&#35;'>&#35;</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=A'>A</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=B'>B</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=C'>C</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=D'>D</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=E'>E</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=F'>F</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=G'>G</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=H'>H</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=I'>I</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=J'>J</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=K'>K</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=L'>L</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=M'>M</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=N'>N</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=O'>O</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=P'>P</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=Q'>Q</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=R'>R</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=S'>S</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=T'>T</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=U'>U</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=V'>V</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=W'>W</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=X'>X</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=Y'>Y</a>
&nbsp; <a href='{{root_url}}act=ucp&amp;param=01&amp;l=Z'>Z</a>
</div>
<br />
<div align='center'>
	<table border='0' cellspacing='0' cellpadding='1' width='90%'>
 		<tr>
 		  <td width='100%' colspan='2' class='subheader'>
 		    Listing Users: <b>{{user_letter}}</b>
 		  </td>
 		</tr>
 		<tr>
 		  <td width='50%' class='options_small1' style='border-bottom:1px solid black'>
 		    <b>Username</b>
 		  </td>
 		  <td width='50%' class='options_small1' style='border-bottom:1px solid black'>
 		    <b>Group</b>
 		  </td>
 		</tr>
 		{{user_list}}
 	</table>
</div>
&nbsp;